.imagen{
    max-width:50%;
}
a{
    cursor:pointer;
}
.alerta{
    font-weight:700;
}
body{
    background-color: #ce5742;
    overflow-x: hidden;
}
.modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
}
.img-carrito{
    width:100px;
    padding:20px;
} 
.modal-content{
    background-color: #c23d25;
}
.parrafo{
    font-weight: 900;
    font-style: italic;
}
#precioTotal{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.boton{
    opacity:0;
}